.uploadWrapper {
  height: 160%;
  display: grid;
  justify-items: center;
  align-items: center;
}

.uploadGrid {
  width: 80%;
  height: 90%;
  background: #ffffff;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
}

.previewBlock {
  display: flex;
  outline: none;
  justify-content: center;
  align-items: center;
  background: #2768bde5;
  cursor: pointer;
}

.previewBorder {
  width: 90%;
  height: 90%;
  border: 4px dashed #1a539ede;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.onHover::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  opacity: 0.2;
  top: 0;
  left: 0;
}

.previewBorder .photoIcon {
  max-width: 200px;
  opacity: 0.8;
}
.previewBorder .photoPreview {
  width: 100%;
}

.uploadContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-items: flex-start;
}

.uploadItem {
  flex-grow: 1;
  font-size: 18px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.title {
  position: relative;
  flex-grow: 0.2;
}
.title::after {
  content: "";
  position: absolute;
  background: rgba(255, 0, 0, 1);
  width: 100%;
  height: 8px;
  top: 70%;
  left: 0;
  z-index: 2;
}

.uploadItem input,
.uploadItem textarea {
  border: none;
  outline: none;
  background: #ebebeb;
  padding-left: 10px;
  width: 350px;
  height: 40px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  transition: 200ms;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.uploadItem textarea {
  padding-top: 10px;
  height: 200px;
}

.uploadItem input:focus,
.uploadItem textarea:focus {
  outline: 1.5px solid #ff1b1b;
}
.uploadItem input:hover,
.uploadItem textarea:hover {
  background: #d3d3d3;
}

.title {
  grid-area: 1 / span 2;
  justify-self: center;
}

.uploadItem .preview {
  width: 100%;
  height: 100%;
}

.generos {
  width: 90%;
  height: 100px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.Generoscontainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  min-height: 0;
}

.generos button {
  width: 100%;
  height: 40px;
  background: #ebebeb;
  border: 1px solid grey;
  cursor: pointer;
  outline: none;
  transition: 200ms;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
.generos button:hover {
  background: #d3d3d3;
}
.generos .pressed {
  background: #d3d3d3;
  transform: scale(0.9);
}

.generos::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.generos::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
.generos::-webkit-scrollbar-thumb {
  background: #d3d3d3;
  border-radius: 10px;
}

/* Handle on hover */
.generos::-webkit-scrollbar-thumb:hover {
  background: rgb(129, 127, 127);
}

.uploadItem .send {
  margin: 10px 0 10px 0;
  width: 360px;
  height: 40px;
  border: none;
  outline: none;
  cursor: pointer;
  background: rgb(255, 0, 0);
  color: lightgoldenrodyellow;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.uploadItem .send:hover {
  background: crimson;
}

.uploadLanguage {
  margin-top: 15px;
}
.uploadPlatform {
  margin-top: 15px;
  margin-bottom: 15px;
}

.uploadItem p {
  margin: 0 0 10px 0;
  color: #e01e1e;
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.onError input {
  border: 1px solid #e01e1e;
}

.errorFalse {
  display: none;
}

.errorTrue {
  display: show;
}
